<div>
  <mat-toolbar class="example-label col-3">
    
    <span class="lab" >Airvibe</span>
    <a mat-button class="example-button-row">
      All Plans
      </a>
    <a routerLink="prepaid" mat-button class="example-button-row">
      Prepaid Plans
      </a>
    <a mat-button class="example-button-row">
      Postpaid Plans
    </a>
    <a mat-button class="example-button-row ">
      AddOns
    </a>
    <a mat-button class="example-button ">
      Logout
    </a>
   
  </mat-toolbar>
</div>



 
<router-outlet></router-outlet>

